<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Modulo de Integracion</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_client.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script>
        var csrf_token = "{{ csrf_token() }}"
    </script>
</head>

<body>
<div class="col-lg-2 table-bordered">
    <button name="submit" style='margin-top:1%;margin-left:1%;margin-bottom:2%;' class="btn btn-primary btn-sm col-lg-12" type="button" id="change">Usuarios</button>
<button name="submit" style='margin-top:1%;margin-left:1%;margin-bottom:2%;' class="btn btn-danger btn-sm col-lg-12" type="button" id="logout">Salir</button>
</div>
    <div style="margin-top:1%;padding-left: 2%;padding-right: 2%;" class="container col-lg-4 table-bordered">
        <h5 style="text-align:center;margin-bottom:3%;margin-top:1%;">Modulo de Integracion de Clientes</h5>
        <form id="register_client" method="post" class="panel-body">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label>Empresa</label>
            <input id='empresa' class="form-control" type="text" tabindex="1" required autofocus>
            <label style="margin-top:2%;">Base de datos</label>
            <input id='db' class="form-control" type="text" tabindex="2" required>
            <small id="helpDb" class="form-text text-muted">Recordar: Esta base de datos debe ser creada en el CRM</small>
            <small id="helpDb2" class="form-text text-muted">Formato estilo patente, Ejemplo: 000AAA</small>
            <tr></tr>
            <div class="row">
            <button name="submit" style='margin-top:3%' class="btn btn-success col-lg-12" type="button" id="register-submit">Guardar</button>
                </div>
            <p id="space"></p>
        </form>
    </div>

     <strong><p style="text-align: center;color:#5a6e76;" id="response"></p></strong>


    {% if clientedit %}
    <div class="col-lg-6 container">
        <table style="margin-top:5%;" class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">Empresa</th>
                    <th style="text-align: center;">Base de Datos</th>
                    <th style="text-align: right;"> Selecciona una</th>
                    <th style="text-align: left;">operacion</th>
                </tr>
            </thead>
            <tbody>

                {% for c in clientedit.client_list %}
                <tr scope="row">
                    <td>{{c.codigo(class="form-control", spellcheck="false", type="hidden")}}</td>
                    <td>{{c.empresa (class="form-control", spellcheck="false",style="text-align: center;")}}</td>
                    <td>{{ c.db (class="form-control", spellcheck="false",style="text-align: center;")}}</td>
                    <td>{{ c.eliminar(onclick="eliminar(this.id)",class="form-control",style="text-align: center;") }}</td>
                    <td>{{ c.actualizar(onclick="actualizar(this.id)", class="form-control",style="text-align: center;") }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}



</body>

</html>